deploy.ps1
.env

# Backend
BE/.env
BE/tmp/
BE/docs/
BE/*.exe
BE/dump.rdb

# Frontend
FE/.env
FE/.env.local
FE/.env.production.local
FE/tmp/
FE/.next/
FE/node_modules/
FE/out/

# Standard
.vscode/
.idea/
*.log
*.exe
dist/
node_modules/
.DS_Store
dump.rdb
